In [9]:
#import library

import mysql.connector

In [10]:
# function to connect to mysql server

def create_server_connection(host_name, user_name, user_password):
    connection = None
    try:
        connection = mysql.connector.connect(
            host = host_name,
            user = user_name,
            passwd = user_password
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: {err}")
    return connection

mydb = create_server_connection("localhost", "root", "root")

MySQL Database connection successful

In [ ]:
# create a database

mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE mydatabase")

In [14]:
#to show databases

mycursor.execute("SHOW DATABASES")

for i in mycursor:
    print(i)

('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('sys',)

In [17]:

mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE customer (name VARCHAR(255), address VARCHAR(255))")

ProgrammingError: 1046 (3D000): No database selected